@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300; 
}

:root {
  --main-light: #efdad2;
  --main: #fd642c;
  --main-dark: #ff4500;
  --support-light: #008cff;
  --support-light: #026dc5;
  --grey-light-extra: #eee;
  --grey-light: #ccc;
  --grey-medium: #999;
  --grey-dark: #333;
  --blaze: #e42a2a;
  --forest: #20da20;
  --dark: #111;
  --light: #fffcfa;
  --black: #000;
  --white: #fff;

  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-md: 1rem;
  --size-lg: 0.125rem;
  --size-xl: 1.5rem;
  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 2rem;

  --border-radius: 0.1875rem;
  --duration-sm: 100ms;
  --duration-md: 300ms;
  --duration-lg: 3000ms;

  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
                   0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                   0 4px 6px -4px rgba(0, 0, 0, 0.1);
}



.logo {
  font-family: 'Eagle Lake', serif;
  letter-spacing: -1px;
}